.board {
    width: 300px;
    border-collapse: collapse;
    margin: 0 auto;

    tr:first-child td {
        border-top: none;
    }

    .cell {
        height: 50px;
        min-width: 100px;
        width: auto;
        border-top: 1px solid black;
        border-left: 1px solid black;
        text-align: center;
        font-size: 20px;

        &:first-child {
            border-left: none;
        }

        i {
            margin: 8px auto 0;
            display: block;
        }

        &.x {
            i {
                width: 32px;
                height: 32px;
                position: relative;

                &:before, &:after {
                    position: absolute;
                    left: 15px;
                    content: ' ';
                    height: 33px;
                    width: 2px;
                    background-color: green;
                }
                &:before {
                    transform: rotate(45deg);
                }
                &:after {
                    transform: rotate(-45deg);
                }

            }
        }
    }
}
